<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi prudhvi</h1>
    <p>
		The following user <%= @user_data.name %> has contacted SpeedoGames.
    </p>
    <p>
		Name: <%= @user_data.name%>
    </p>
    <p>
		Email: <%= @user_data.email%>
    </p>
	<p>
		Phone: <%= @user_data.phone%>
	</p>
    <p>
		Subject: <%= @user_data.subject%>
    </p>
    <p>
		Description: <%= @user_data.description%>
    </p>
  </body>
</html>