<style>
	.results div, .results span{
		padding: 5px 0px;
	}
	
	.results a{
		color:#1CAED4;
	}
	
	.results li{
		list-style: none;
	}
</style>

<%= render :partial => 'common/eamcet_search',  :locals => {:pdata => @data} %>
	<div class='results'>
	<ul>
	<% @results.each do |result|%>
		<li>
		<% college=result.colleges_course.college%>
		<div class='coll'>
		<%= link_to college.name, college_path(result.colleges_course.college) %> <% unless college.estd == 0 %> (Estd: <%= college.estd %>) <% end %>
		</div>
		<div class='course'>
			Course:<%= result.colleges_course.course.name %>
		</div>
		<span class='loc'><%= college.place %> (<%=college.reg%>) </span>
		<span class='affl'>Affiliated to: <%= college.affl%></span>
		<span class='type'>Type: <%= college.min %>/<%= college.coed%></span>
		</li>
	<% end %>
	</ul>
	</div>
<%= will_paginate @results, :previous_label => "<<",:next_label => ">>", :params => params[:eamcet] %>