<% content_for :title_text do %>
	<h1 class='h1'>Eamcet Rank 2011</h1>
<% end %>
<% 
if pdata.nil?
	pdata={}
	pdata['rank']=1
	pdata['caste']="oc"
	pdata['gender']="boy"
	pdata['affl']=[]
	pdata['reg']=[]
end 

pdata['affl'] = [] if pdata.nil? || pdata['affl'].nil?
pdata['reg'] = [] if pdata.nil? || pdata['reg'].nil?
%>

<div id="searchbox">
<%= form_tag "/eamcet/results", :id => "search" do |f|%>
<div class='row'>
<%= label_tag 'Eamcet Rank'%>
<%= text_field_tag 'eamcet[rank]', pdata['rank']%>
</div>

<div class='row'>
<%= label_tag 'Caste'%>	
<%= select("eamcet", "caste", [["OC", "oc"],["SC", "sc"],["ST", "st"],["BC-A", "bca"], ["BC-B", "bcb"], ["BC-C","bcc"], ["BC-D","bcd"], ["BC-E","bce"]]) %>
</div>

<div class='row'>
<%= label_tag 'Gender'%>
<%= radio_button("eamcet",'gender', "boy", "boy" == pdata['gender'] ? {:checked => "checked"} : {}) %>Male
<%= radio_button("eamcet",'gender', "girl", "girl" == pdata['gender'] ? {:checked => "checked"} : {}) %>Female	
</div>

<div class='row'>
<%= label_tag 'Course'%>
<%= select("eamcet", "course", courses) %>
</div>

<!--
<div class='row'>
	University: 
	<% ["JNTUK", "AU", "ANU", "JNTUH", "JNTH", "OU", "KU", "JNTUA", "SVU", "SKU", "SVHU", "SPMU", "JNFAU", "PLMU", "YGVU", "ANGRAU", "VETUNI"].in_groups_of(5).each do |group|%>
		<ul>
			<% group.each do |univ|%>
			 	<% unless univ.nil? %>
					<%= check_box("eamcet[affl]", "", pdata['affl'].include?("#{univ}") ? {"checked" => "checked"} : {}, "#{univ}", "") %><%= univ %>
				<% end %>
			<% end %>
		</ul>
	<% end %>
</div>
-->

<div class='row'>
	<%= label_tag 'Region'%>
	<%= check_box("eamcet[reg]", "", pdata['reg'].include?("all") ? {"checked" => "checked"} : {}, "all", "") %>All	
	<% regions.each do |reg|%>
		<%= check_box("eamcet[reg]", "", pdata['reg'].include?("#{reg}") ? {"checked" => "checked"} : {}, "#{reg}", "") %><%= reg %>
	<% end %>
</div>

<%= submit_tag 'Search Colleges'%>
<% end %>
<small class='tiny'>
<%= link_to "try advanced search", ""%>
*Results sorted based on last cutoff rank
</small>
</div>