<% content_for :title_text do %>
	<h1 class='h1'>Eamcet Rank 2011</h1>
<% end %>
<% 
if pdata.nil?
	pdata={}
	pdata['rank']=""
	pdata['caste']="oc"
	pdata['gender']="boy"
	pdata['affl']=[]
end 

pdata['affl'] = [] if pdata.nil? || pdata['affl'].nil?
%>

<%= form_tag "/eamcet/results" do |f|%>
<div class='row'>
<%= label_tag 'Eamcet Rank'%>
<%= text_field_tag 'eamcet[rank]', pdata['rank']%>
</div>
<div class='row'>
<%= label_tag 'Caste'%>	

<% ["oc","sc","st","bc"].each do |caste| %>
	<%= radio_button("eamcet",'caste', "#{caste}", caste == pdata['caste'] ? {:checked => "checked"} : {} ) %><%= caste.upcase %>
<%end%>
</div>
<div class='row'>
<%= label_tag 'Gender'%>
<%= radio_button("eamcet",'gender', "boy", "boy" == pdata['gender'] ? {:checked => "checked"} : {}) %>Male
<%= radio_button("eamcet",'gender', "girl", "girl" == pdata['gender'] ? {:checked => "checked"} : {}) %>Female	
</div>

<div class='row'>
	University: 
	<% ["JNTUK", "AU", "ANU", "JNTUH", "JNTH", "OU", "KU", "JNTUA", "SVU", "SKU", "SVHU", "SPMU", "JNFAU", "PLMU", "YGVU", "ANGRAU", "VETUNI"].each do |univ|%>
		<%= check_box("eamcet[affl]", "", pdata['affl'].include?("#{univ}") ? {"checked" => "checked"} : {}, "#{univ}", "") %><%= univ %>
	<% end %>
</div>

<div class='row'>
	Course: 
	<% ["JNTUK", "AU", "ANU", "JNTUH", "JNTH", "OU", "KU", "JNTUA", "SVU", "SKU", "SVHU", "SPMU", "JNFAU", "PLMU", "YGVU", "ANGRAU", "VETUNI"].each do |univ|%>
		<%= check_box("eamcet[affl]", "", pdata['affl'].include?("#{univ}") ? {"checked" => "checked"} : {}, "#{univ}", "") %><%= univ %>
	<% end %>
</div>

<%= submit_tag 'find'%>
<% end %>