<!DOCTYPE html>
<html>
<head>
  <title>Studyp</title>

  <%= stylesheet_link_tag "style.css" %>
  <link type="text/css" href="/stylesheets/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
  <%= javascript_include_tag "jquery/jquery-1.6.1.min.js", "jquery/jquery-ui-1.8.13.custom.min.js", "application.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id='header'>
		<div id='header_content'>
			<div id='logo'><a href="/"><img src='/images/logo.jpg' alt="Eamcet Colleges" border="0px"/></a></div>
			<div class='g_ad'>
				<%= render :partial => 'common/ads/header_728x90'%>
			</div>
		</div>
	</div>
	<div id='container'>
		<div id='title'>
			<%= yield :title_text %> 
			<div id='1button' style='float:right; margin-right:20px'>
				<!-- Place this tag in your head or just before your close body tag -->
				<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone></g:plusone>	
			</div>
			<div id='fshare' style='float:right; width: 100px'>
<iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>				
			</div>
		</div>
		
		<div id='page'>		
		
		<div id='content'>		
			<%= yield %>
		</div>
			
		<div id='rightside'>	
		<%= yield :rightside %>			
		</div>
		</div>
	</div>

	<div id='footer'>
	<div class='content'>	
		<ul>
			<li><%= link_to 'Home', '/'%></li>
			<li><%= link_to 'About Us'%></li> 
			<li><%= link_to 'Contact Us', '/contactus'%></li>
		</ul>
		<ul>
			<li><%= link_to 'Andhra Colleges', colleges_search_path(:region => "AU")%></li>
			<li><%= link_to 'Osmania Colleges',colleges_search_path(:region => "OU")%></li> 
			<li><%= link_to 'Sri Venkateswara Colleges', colleges_search_path(:region => "SVU")%></li>
		</ul>		
	</div>	
	</div>
	
	<%= render :partial => 'common/google_analytics'%>
</body>
</html>
