<!DOCTYPE html>
<html>
<head>
  <title>Studyp</title>

  <%= stylesheet_link_tag "style.css" %>
  <link type="text/css" href="/stylesheets/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
  <%= javascript_include_tag "jquery/jquery-1.6.1.min.js", "jquery/jquery-ui-1.8.13.custom.min.js", "application.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id='header'>
		<div id='logo'><%= link_to 'EamcetColleges', root_path %></div>
	</div>
	<div id='container'>
		<div id='title'>
			<%= yield :title_text %>
		</div>
		
		<div id='page'>		
		
		<div id='content'>		
			<%= yield %>
		</div>
			
		<div id='rightside'>	
		<%= yield :rightside %>			
		</div>
		</div>
	</div>

	<div id='footer'>
		<div class='links'>
			<%= link_to 'Home'%> | <%= link_to 'About Us'%> | <%= link_to 'Contact Us'%> | <%= link_to 'Data Accuracy'%>
		</div>
	</div>
</body>
</html>
