<!DOCTYPE html>
<html>
<head>
  <title>Studyp</title>

  <%= stylesheet_link_tag "style.css" %>
  <link type="text/css" href="/stylesheets/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
  <%= javascript_include_tag "jquery/jquery-1.6.1.min.js", "jquery/jquery-ui-1.8.13.custom.min.js", "application.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
<div id='header'>
</div>
<div id='title'>
	<%= yield :title_text %>
</div>

<div id='container'>
	<div id='leftside'>
		<%= yield :leftside %>
	</div>
	<div id='page'>
		<%= yield %>
	</div>
	<div id='rightside'>
		<%= yield :rightside %>
	</div>
</div>

<div id='footer'>
</div>
</body>
</html>
